.typewriter {
    width: 22ch;
    padding: 0.4rem;
    animation: show 2s, typing 2s steps(22) 2s, blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: monospace;
}

@keyframes show {
    from {
        width: 0;
        color: transparent;
    }
    to {
        width: 0;
        color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
